<?php foreach($messages as $msg){ ?>
<div class="chat-message clearfix" data-id="<?= $msg['msg_id'] ?>">
    
    <?php 
    if($msg['from_id'] == $user_id){ 
        $name = $user['name']; 
    }else{
        $name = $receiver['name'];
    }
    ?>
    
    
    <div class="chat-message-content clearfix">
        <span class="chat-time">[<?= $msg['timestamp'] ?>]<b> <?= $name ?> : </b><?= $msg['msg'] ?></span>
    </div> <!-- end chat-message-content -->
</div> <!-- end chat-message -->
<!-- <hr class="separator" /> -->
<?php } ?>