#chat-notification-list > li:hover a.noti_active{
    background: #eee;
}

.load_more_wrapper {
  text-align: center;
}
#customer_start_chat{
    cursor: pointer;
    padding-bottom: 20px;
}
#live-chat-ui-wrapper {
  bottom: 0;
/*  height: 405px;*/
  overflow: hidden;
  position: relative;
  right: 0;
  text-align: right;
/*  width: 100%;*/
}
.live-chat-ui.minimized{
    top : 0px;
}
.live-chat-ui {
  bottom: 0;
  position: relative;
  text-align: left;
  width: 100%;
}
.chat separator:last-child{
    display: none !important;
}
.live-chat-ui header {
  background: #ccc none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  padding: 7.5px 15px;
}
.live-chat-ui h4::before {
    background: none repeat scroll 0 0 #72af46;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}
.live-chat-ui.offline h4::before {
  display: none;
}
.live-chat-ui h4 {
    font-size: 13px;
    margin: 5px 0;
}
.live-chat-ui h5 {
    color: #555;
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 0;
}
.live-chat-ui p {
    margin: 0;
}
.live-chat-ui form {
    padding: 15px;
}
.live-chat-ui input[type="text"] {
  background-color: white;
  border: 1px solid #cccccc;
  font-size: 12px;
  width: 100%;
}
.live-chat-ui input[type="text"]:focus, .live-chat-ui input[type="text"]:hover {
    border: 1px solid #d15050;
}
.chat-message-counter {
  background: #d15050 none repeat scroll 0 0;
  border: 2px solid #bc3232;
  border-radius: 50%;
  color: white;
  display: none;
  font-size: 12px;
  font-weight: 700;
  height: 25px;
  left: -6px;
  line-height: 20px;
  margin: 0;
  top: -1px;
  position: relative;
  text-align: center;
  width: 25px;
  float: left;
}
#live-chat-ui-wrapper li.active {
  border-top-color: #CCCCCC !important;
}
#live-chat-ui-wrapper li.active > a {
  background: #ccc !important;
  border-left-color: #ccc !important;
  border-right-color: #ccc !important;
}
#live-chat-ui-wrapper .chat-close {
  background: none;
  color: red;
  position: relative;
  top: -1px;
}
.live-chat-ui a.chat-close {
  color: #fff;
  display: block;
  float: right;
  margin: 2px 0;
  text-align: center;
}
.live-chat-ui a.chat_transcript {
  color: #fff;
  display: block;
  float: right;
  margin: 2px 5px 5px 0;
  text-align: center;
}
.live-chat-ui a.chat-info {
  color: #fff;
  display: block;
  float: right;
  margin: 2px 5px 5px 0;
  text-align: center;
}
.live-chat-ui a.chat-close *:hover {
    color: #f2f2f2;
}
.live-chat-ui .chat {
  background: rgba(204, 204, 204, 0.5) none repeat scroll 0 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none; 
}
.live-chat-ui .chat-history {
    height: auto;
    padding: 5px 15px 5px 5px;
}
.live-chat-ui .chat-message {
    margin: 16px 0;
}
.live-chat-ui .chat-message img {
    border-radius: 100%;
    float: left;
}
.live-chat-ui .chat-message-content {
    margin-left: 46px;
}
.live-chat-ui .chat-time {
    float: right;
    font-size: 10px;
}
.live-chat-ui .chat-feedback,
.live-chat-ui .chat-alert{
  font-style: italic;
  position: absolute;
  text-align: center;  
  width: 100%;
}
.live-chat-ui .chat-feedback{
    bottom: 96px;
}
.live-chat-ui .chat-alert{
  background: none repeat scroll 0 0 #f39c12;
  cursor: pointer;
  left: 0;
  padding: 4px;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.live-chat-ui .chat-alert i{
    float:right;
    margin-right: 10px;
}
@media (max-width: 359px) {
#live-chat {
    margin-left: 15px;
    right: 15px;
}
}
.in-chat {
    position: relative;
}
.in-chat .itemdiv {
    min-height: 66px;
    padding-right: 3px;
    position: relative;
}
.in-chat .itemdiv > .user {
    display: inline-block;
    left: 0;
    position: absolute;
    width: 42px;
}
.in-chat .itemdiv > .user > img {
    border: 2px solid #e5e5e5;
    border-radius: 100%;
    max-width: 40px;
    position: relative;
}
.in-chat .itemdiv > .body {
    margin-left: 50px;
    margin-right: 12px;
    position: relative;
    width: auto;
}
.in-chat .itemdiv > .body > .time {
    color: #999;
    display: block;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    right: 9px;
    top: 0;
}
.in-chat .itemdiv > .body > .name {
    display: block;
}
.in-chat .itemdiv > .body > .text {
    display: block;
    font-size: 13px;
    margin-top: 2px;
    padding-bottom: 19px;
    padding-left: 7px;
    position: relative;
}
.in-chat .itemdiv > .body > .text::after {
    border-top: 1px solid #e5e5e5;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    left: 16px;
    margin-top: 9px;
    overflow: hidden;
    position: absolute;
    right: -12px;
}
.in-chat .itemdiv:last-child > .body > .text {
    border-bottom: 0 none;
}
.in-chat .itemdiv:last-child > .body > .text::after {
    display: none;
}
.in-chat .itemdiv.dialogdiv {
    padding-bottom: 14px;
}
.in-chat .itemdiv.dialogdiv::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f2f2f2;
    border-color: #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 19px;
    max-width: 3px;
    position: absolute;
    top: 0;
    width: 3px;
}
.in-chat .itemdiv.dialogdiv:last-child::before {
    display: none;
}
.in-chat .itemdiv.dialogdiv > .user > img {
    border-color: #e5e5e5;
}
.in-chat .itemdiv.dialogdiv > .body {
    border: 1px solid #e5e5e5;
    margin-right: 1px;
    padding: 5px 8px 8px;
}
.in-chat .itemdiv.dialogdiv > .body::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0 1px;
    box-sizing: content-box;
    content: "";
    display: block;
    height: 8px;
    left: -5px;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
    width: 8px;
}
.in-chat .itemdiv.dialogdiv > .body > .time {
    float: right;
    position: static;
}
.in-chat .itemdiv.dialogdiv > .body > .text {
    padding-bottom: 0;
    padding-left: 0;
}
.in-chat .itemdiv.dialogdiv > .body > .text::after {
    display: none;
}
.in-chat .itemdiv.dialogdiv .tooltip-inner {
    word-break: break-all;
}
.in-chat .itemdiv.memberdiv {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    margin: 3px 0;
    padding: 2px;
    width: 175px;
}
.in-chat .itemdiv.memberdiv > .user > img {
    border-color: #e5e5e5;
}
.in-chat .itemdiv.memberdiv > .body > .time {
    position: static;
}
.in-chat .itemdiv.memberdiv > .body > .name {
    height: 18px;
    line-height: 18px;
    margin-bottom: 0;
}
.in-chat .itemdiv.memberdiv > .body > .name > a {
    display: inline-block;
    max-height: 18px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.in-chat .itemdiv .tools {
    bottom: 10px;
    display: none;
    position: absolute;
    right: 5px;
}
.in-chat .itemdiv .tools .btn {
    border-radius: 36px;
    margin: 1px 0;
}
.in-chat .itemdiv .body .tools {
    bottom: 4px;
}
.in-chat .itemdiv.commentdiv .tools {
    right: 9px;
}
.in-chat .itemdiv:hover .tools {
    display: inline-block;
}
#live-chat-ui-wrapper .input-icon [class*="fa-"], 
#live-chat-ui-wrapper .input-icon [class^="fa-"]{  
  display: block;
  font-size: 16px;
  height: 16px;
  margin: 11px 2px 4px 10px;
  min-width: 16px;
  position: absolute;
  width: 16px;
}
#live-chat-ui-wrapper form .input-icon.right [class*="fa-"],
#live-chat-ui-wrapper form [class^="fa-"] {
  float: right;
  right: 8px;
}
.chat-exchange, .chat-ban, .user-info .chat-minimize {
  color: white;
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  position: relative;
}
#chat-box {
/*  padding: 20px; */
}
.like_unlike_wrapper {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
}
.chat-message .fa-thumbs-up {
  color: green;
}
.chat-message .fa-thumbs-down {
  color: red;
}
.like_unlike_wrapper .like.active {
  color: green;
}
.like_unlike_wrapper .unlike.active {
  color: red;
}
.like_unlike_wrapper .btn{
  border: medium none;
  width: 50%;
  cursor: default;
}
.chat-close.btn{
    position: relative;
    right: -10px;
}