.tab-pane{
    padding-top: 10px;
}
.noti_active .badge{
  background: none repeat scroll 0 0 #d15050;
  border: 2px solid #bc3232;
}
.alert{
    position: relative;
}
.alert .close {
    top: 15px;
    position: absolute;
    right: 15px;
}

table thead .sorting a{
  background: url("../img/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  padding-right: 25px;
}
table thead .sorting .desc{
  background: url("../img/sort_desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
table thead .sorting .asc {
  background: url("../img/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

#feature_wrapper .box-body,
#faq_wrapper .box-body{
   display: none; 
}
#feature_wrapper .box-header,
#faq_wrapper .box-header{
    cursor: pointer;
}
#feature_wrapper .box-header .fa,
#faq_wrapper .box-header .fa{
  float: right;
}
#feature_wrapper .box-title {
  display: block;
  line-height: 25px !important;
  width: 95%;
  float: left;
}
#file-uploaded {
  clear: both;
  display: table;
  margin-bottom: 10px;
  margin-left: 1px;
  text-align: left;
}
.fa-spin-custom{
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.feedback_wrapper {
  color: #d28966;
}
.bg-custome-d {
  background-color: #367fa9;
  color: white;
}
a{
    cursor: pointer;
}
.direct-chat-msg {
  padding: 10px;
}
#loginform .fa, .login-box .fa{
  padding: 10px !important;
}
.ranges > ul {
  background: none repeat scroll 0 0 #00c0ef;
  display: block;
  float: right;
  list-style: outside none none;
  padding: 0;
}
.ranges li {
  background: none repeat scroll 0 0 #00c0ef;
  border: 1px solid #ccc;
  cursor: pointer !important;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 40px;
  position: relative;
  z-index: 100000;
}
.ranges li:hover, .ranges li.active {
  background: none repeat scroll 0 0 #605ca8;
}
#chat_filter_form .input-group input{
    width: auto !important;
}
#chat_filter_form .input-group-addon{
    padding: 9px 20px !important;
}

#search_faq .btn{
  border-radius: 0;
}
#search_faq input {
  float: left;
  width: 91%;
}

.timeline .timeline-item, .timeline .fa-comments-o {
    background: #ddd !important;
    color: #46535C !important;
}
.timeline-footer {
  background: none repeat scroll 0 0 white;
  border: 1px solid #46535C;
}
.timeline .done .timeline-footer {
    border-color: #8e959a;
}
.direct-chat-msg.right .direct-chat-text {
  border-color: #707cae;
  color: #13325e;
}
.direct-chat-msg.right .direct-chat-text::after, 
.direct-chat-msg.right .direct-chat-text::before{
    border-left-color: #707CAE;    
}
.direct-chat-msg .direct-chat-text p {
    margin: 0;
}
