<?= modules::run('header') ?>

<div class="wrapper-right fx">
    <div class="carousel-fullscreen-sidebar">

        <div class="">
            <?= $msg ?>
        </div>
        
        <?php if($xml){ ?>
            <pre>
                <?php print_r($xml); ?>
            </pre>
        <?php } ?>
        
    </div>
</div>
        
<?= modules::run('footer') ?>